.navigation {
    position: relative;
    &__checkbox {
    display: none;
    }
    
    &__buttom {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 5rem;
        right: 5rem;
        z-index: 2000;
        background-color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black,.1);
        &:hover {
            cursor: pointer;
        }
    }
    &__buttom:hover > &__icon::before {
        transform: translateY(-1.5px);
    }
    &__buttom:hover > &__icon::after {
        transform: translateY(1.5px);
    }
    
    &__background {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        position: fixed;
        top: 5.5rem;
        right: 5.5rem;
        z-index: 1000;
        background-image:radial-gradient($color-primary-light,$color-primary-dark) ;
        transition: all .8s;
    
    }
    
    &__nav {
        position: fixed;
        top: 0;
        left:-12rem;
        z-index: 1500;
        opacity: 0;
        transition: all .8s;
        height: 100vh;
        width: 100vw;
        visibility: hidden;

    }
    
    &__list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        list-style:none;
    }
    
    &__item {
        text-transform: uppercase;
        text-align: center;
        margin: 1rem ;
    }
    &__link{
        &:link,
        &:visited {
            text-decoration: none;
            font-size: 3rem;
            font-weight: 300;
            padding: 1rem 2rem;
            color: $color-white; 
            background-image: linear-gradient(120deg,transparent 50%,$color-white 50%);
            background-size: 223%;
            transition: all .3s cubic-bezier(.13,.71,.21,.6);
            display: inline-block;
        }
        & span {
            margin-right: 2rem;
        }    
        &:hover,
        &:active {
            background-position: 100%;
            color: $color-primary;
            transform: translateX(1rem);
        }
    }

    &__checkbox:checked ~ &__background {
        transform:scale(80) ;     
    }
    &__checkbox:checked ~ &__nav {
        opacity: 1;
        left: 0;
        visibility: visible;
    }
// navigation icon
    &__icon{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        &,
        &::before,
        &::after{
            width: 3rem;
            height: 2px;
            background-color:$color-grey-dark-3 ;
            display:inline-block ;
            transition: all .2s cubic-bezier(.13,.71,.21,1.06);
        }
        &::before,
        &::after{
            content: "";
            position: absolute; 
            left: 0;         
        }
        &::before {
            top: -1rem;
        }        
        &::after {
            top: 1rem;
        }
    }
    &__checkbox:checked + &__buttom &__icon {
        background-color: transparent;
    }
    &__checkbox:checked + &__buttom &__icon::after {
        top: 0;
        transform: rotate(135deg);
    }
    &__checkbox:checked + &__buttom &__icon::before {
        top: 0;
        transform: rotate(-135deg);
    }
}

