.story {
    width        : 75%;
    margin       : 0 auto;
    box-shadow   : 0 3rem 6rem rgba($color-black, .2);
    border-radius: 3px;
    padding      : 6rem;
    padding-left : 9rem;
    font-size    : $default-font-size;
    transform    : skewX(-12deg);

    @include respond(tab-port) {
        transform: skewX(0);
        padding  : 7rem;
    }

    position        : relative;
    background-color: rgba($color-white, .6);

    &__shape {
        height               : 17rem;
        width                : 17rem;
        float                : left;
        -webkit-shape-outside: circle();
        shape-outside        : circle();
        clip-path            : circle();
        transform            : translateX(-3rem) skewX(12deg);

        @include respond(tab-port) {
            transform: translateX(0) skewX(0);
        }
    }

    &__img {
        height   : 100%;
        transform: translateX(-4rem) scale(1.1);

        @include respond(tab-port) {
            transform: translateX(-6rem) scale(1.1);
        }
    }

    &__text {
        transform: skewX(12deg);

        @include respond(tab-port) {
            transform: skewX(0);
        }
    }

    &__caption {
        position      : absolute;
        top           : 50%;
        left          : 50%;
        transform     : translate(-50%, 20%);
        color         : $color-white;
        text-transform: uppercase;
        text-align    : center;
        opacity       : 0;
        transition    : transform .3s ease;
    }

    &:hover &__caption {
        opacity  : 1;
        transform: translate(-50%, -50%);
    }

    &:hover &__img {
        transform: translateX(-4rem) scale(1);
        filter   : blur(3px) brightness(80%);
    }

}