.popup {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba($color-black,.8);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    &:target {
        opacity: 1;
        visibility: visible;
    }
    &:target &__content {
        transform: translate(-50%,-50%) scale(1);
    }

    &__content {
        width:75% ;
        background-color: $color-white;
        @include abscenter;
        display: table;
        transform: translate(-50%,-50%) scale(.5);
        transition: all .5s .1s;
    }
    &__left {
        width: 33.33333%;
        display: table-cell;
    }

    &__right {
        width: 66.66667%;
        display: table-cell;
        vertical-align: middle;
        padding:3rem 5rem;
    }

    &__img {
        width: 100%;
        display: block;
    }
    &__text {
        font-size: 1.5rem;
       margin-bottom: 4rem;
       column-count: 2;
       column-gap: 4rem;
       column-rule: 1px solid $color-grey-dark-2;
       hyphens: auto;
    }
    &__close {
        &:link,
        &:visited{
            position: absolute;
            top: -1rem;
            right: 0;
            font-size: 4rem;
            padding:0 1rem ;
            text-decoration: none;
        }
        &:hover {
            color: $color-primary;
        }
    }
}